<div fxLayoutAlign="center center" fxFill [@displayForm]>
  <form [formGroup]="form" class="form" fxLayout="column" (ngSubmit)="onFormSubmit()"
    (keydown.enter)="$event.preventDefault()">
    <div class="header">
      <span class="header">Edit personal data</span>
      <hr>
    </div>

    <div fxLayout="column" fxLayoutAlign="center">
      <app-personal-data></app-personal-data>

      <div class="last-row" fxLayoutAlign="none center">
        <app-return-button fxFlexOffset="5" fxFlex="10" (click)="onReturn($event)"></app-return-button>
        <div fxFlexOffset="65" fxFlex="15" fxLayoutAlign="center">
          <button mat-button class="prim-button" type="submit" [disabled]="form.invalid">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
