<div class="main" fxLayout="row" fxLayoutAlign="center" fxFill>
  <div class="form" fxLayout="column">
    <div class="header">
      <span class="header">Create inquiry</span>
      <hr>
    </div>

    <div class="content" fxLayout="column" fxLayoutAlign="center">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="field" appearance="fill">
          <mat-label>Loan value</mat-label>
          <input matInput type="number" class="text-right-align">
          <span matSuffix [ngStyle]="{'padding-left':'10px', 'padding-right':'8px'}">{{currencySuffix}}</span>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Installments number</mat-label>
          <input matInput type="number">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="field" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="field" appearance="fill">
          <mat-label>Birth date</mat-label>
          <input matInput [matDatepicker]="birthPicker">
          <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
          <mat-datepicker #birthPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field [ngStyle]="{'visibility': 'hidden'}" class="field">
          <input matInput>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="field" appearance="fill">
          <mat-label>Government id number</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Government type</mat-label>
          <mat-select panelClass="select-panel">
            <mat-option *ngFor="let govType of govIdTypesPlaceholder" [value]="govType">
              {{govType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="field" appearance="fill">
          <mat-label>Job type</mat-label>
          <mat-select panelClass="select-panel">
            <mat-option *ngFor="let jobType of jobTypesPlaceholder" [value]="jobType">
              {{jobType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [ngStyle]="{'visibility': 'hidden'}" class="field">
          <input matInput>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="field" appearance="fill">
          <mat-label>Job start date</mat-label>
          <input matInput [matDatepicker]="jobStartPicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="jobStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #jobStartPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Job end date</mat-label>
          <input matInput [matDatepicker]="jobEndPicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="jobEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #jobEndPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field [ngStyle]="{'visibility': 'hidden'}" class="field">
          <input matInput>
        </mat-form-field>

        <button mat-button class="prim-button">Submit</button>
      </div>
    </div>
  </div>
</div>
