@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.transparent {
  background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: rgba(164, 107, 230, 0.4);
  color: rgb(89, 0, 114);
}

.mat-form-field-label {
  color: rgb(119, 46, 158, 0.6) !important;
}
