@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.transparent {
  background-color: transparent;
}

/* form field (fill) */
.mat-form-field-appearance-fill .mat-form-field-flex {
  background: rgba(164, 107, 230, 0.4);
  color: rgb(89, 0, 114);
}

/* form field label */
.mat-form-field-label {
  color: rgb(119, 46, 158, 0.6) !important;
}

/* form field message */
.mat-form-field-subscript-wrapper {
  margin-top: 4px !important;
}

/* mat-select option menu*/
.mat-select-panel {
  background: rgb(119, 46, 158);
}

/* mat-select option menu text */
mat-option .mat-option-text {
  color: white;
}

/* mat-select field value */
.mat-select-value-text {
  color: rgb(89, 0, 114);
}

table.mat-table {
  width: fit-content !important;
  height: fit-content !important;
  background: white !important;
}

/* mat-table */
.mat-table {
  border-radius: 12px;
  overflow: hidden !important;
}

/* mat-table header */
.mat-header-cell {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
}

/* mat-table data cell */
.mat-cell {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

/* mat-table both type of cells */
.mat-header-cell,
.mat-cell {
  text-align: center !important;
  color: rgb(89, 0, 114);
  padding: 20px 32px !important;
}

/* mat-table odd row */
.mat-row:nth-child(odd) {
  background-color: rgba(164, 107, 230, 0.4);
}

/* mat-table row hover */
.mat-row:hover {
  cursor: pointer;
  background-color: rgba(164, 107, 230, 0.8);
}

.mat-dialog-container {
  background: rgba(89, 0, 114);
}

/* mat-table paginator */
mat-paginator {
  background: white !important;
  position: sticky;
}

/* mat-table paginator container */
.mat-paginator-outer-container {
  background-color: rgba(164, 107, 230, 0.4) !important;
  position: sticky;
  font-size: 13px;
  color: rgb(89, 0, 114);
}
