@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

span {
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
}

button {
  font-size: 17.5px;
  font-family: 'Lilita One', cursive;
  border-radius: 25px;
  height: 42px;
}

.sec-button {
  background-color: white;
  margin-right: 10px;
}
