<div fxLayout="row" fxFill *ngIf="isDebtor; else bankEmployeeHomePage">
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="center">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" [@animation]>
    <div *ngIf="currentInquiresMade > 0" class="header" fxLayout="column" fxLayoutAlign="center center">
      <span>{{ currentInquiresMade }}</span>
      <span class="content">loaners have already trusted us!</span>
    </div>
    <button mat-button class="prim-button"
      routerLink="/inquire">{{ isAuthenticated ? "Create new inquiry" : "Create your first inquiry" }}</button>
  </div>
</div>

<ng-template #bankEmployeeHomePage>
  <div fxLayout="row" fxFill fxLayoutAlign="center center">
    <app-bank-offers></app-bank-offers>
  </div>
</ng-template>
