<div fxLayout="row" fxFill>
  <div fxFlex="70">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" [@animation]>
    <div *ngIf="currentInquiresMade > 0" class="header" fxLayout="column" fxLayoutAlign="center center">
      <span>{{ currentInquiresMade }}</span>
      <span class="content">loaners have already trusted us!</span>
    </div>
    <button mat-button class="prim-button" routerLink="/inquire">Create your first
      inquiry</button>
  </div>
</div>
