.stretch {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 180px;
  width: 100%;
}

.header {
  padding: 5px 10px 0px 10px;
}

.content {
  padding: 0px 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 180px;
  margin: 0px;
  background-image: url('../shared/resources/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
