@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

span {
  color: rgb(89, 0, 114);
  padding: 15px;
  white-space: nowrap;
  height: 16px;
  vertical-align: middle;
}

button {
  font-size: 17.5px;
  font-family: 'Lilita One', cursive;
  border-radius: 25px;
  height: 42px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 10%), 0px 6px 10px 0px rgb(0 0 0 / 8%), 0px 1px 18px 0px rgb(0 0 0 / 6%);
}

.header {
  font-family: 'Lilita one', cursive;
  font-size: 35px;
  padding-bottom: 10px;
}

.box {
  width: fit-content;
  background: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
}

.keys {
  font-family: 'Lilita one', cursive;
  font-size: 22px;
  margin-right: 200px;
}

.values {
  font-family: 'Comfortaa', cursive;
  font-size: 19px;
  margin-top: 3px;
}

.red {
  color: red;
}

.green {
  color: greenyellow;
}

.orange {
  color: orange
}

.prim-button {
  width: 120px;
  color: white;
  background-color: rgb(119, 46, 158);
  align-self: center;
}

.sec-button {
  width: 120px;
  background-color: white;
}
