<div class="main" fxLayout="row" fxLayoutAlign="center" fxFill [@displayForm]>
  <form [formGroup]="form" class="form" fxLayout="column" (ngSubmit)="onFormSubmit()"
    (keydown.enter)="$event.preventDefault()">
    <div class="header">
      <span class="header">Submit inquiry</span>
      <hr>
    </div>

    <app-personal-data [hasEmail]="!authService.isAuthenticated"></app-personal-data>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field [ngStyle]="{'visibility': 'hidden'}" class="field">
        <input matInput>
      </mat-form-field>

      <button mat-button class="prim-button" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
